@tailwind base;
@tailwind components;
@tailwind utilities;

.str-video__call-stats {
  max-width: 500px;
  position: relative;
}

.str-video__speaker-layout__wrapper {
  max-height: 700px;
}

.str-video__participant-details,
.str-video__menu-container,
.str-video__notification {
  color: black;
}

.str-video__participant-list {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 10px;
  color: black;
  height: 100%;
}

.str-video__call-controls__button {
  height: 40px;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.glassmorphism2 {
  background: rgba(200, 200, 200, 0.25);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.cl-logoBox {
  height: 80px;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 0%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 0%;
    --primary: 220 80% 40%;
    --primary-foreground: 0 0% 0%;
    --secondary: 220 20% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 220 20% 85%;
    --muted-foreground: 0 0% 0%;
    --accent: 220 20% 80%;
    --accent-foreground: 0 0% 0%;
    --destructive: 0 80% 60%;
    --destructive-foreground: 0 0% 0%;
    --border: 220 15% 85%;
    --input: 220 15% 85%;
    --ring: 220 80% 40%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    color: black;
  }
  svg, i {
    color: black;
  }
}

.show-block {
  width: 100%;
  max-width: 350px;
  display: block;
  animation: show 0.7s forwards linear;
}

@keyframes show {
  0% {
    animation-timing-function: ease-in;
    width: 0%;
  }

  100% {
    animation-timing-function: ease-in;
    width: 100%;
  }
}
